/* src/components/About/Summary.module.css */

.summary {
  font-family: var(--font-main);
  background-color: rgba(var(--color-primary-rgb), 0.85); /* Fondo blanco suave con ligera transparencia */
  padding: 3rem; /* Más espacio interior para una mejor lectura */
  border-radius: 1.2rem; /* Bordes más suaves */
  box-shadow: 0 0.5rem 1rem rgba(var(--color-dark-rgb), 0.07); /* Sombra moderna y sutil */
  max-width: 750px; /* Ancho ligeramente ajustado para mejor legibilidad en textos largos */
  margin: 3rem auto; /* Más margen superior e inferior para destacar */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  border: 0.05rem solid rgba(var(--color-secondary-dark-rgb), 0.1); /* Borde sutil */
}

.summary h2 {
  color: var(--color-accent);
  font-family: var(--font-headings);
  margin-bottom: 1.5rem; /* Más espacio debajo del título */
  text-align: center;
  font-size: 2.2rem; /* Título más grande para mayor impacto */
  font-weight: 700;
  letter-spacing: -0.03em;
}

.summary p {
  font-size: 1.1rem; /* Ligeramente más grande para mejor legibilidad */
  line-height: 1.7; /* Aumentando el interlineado para facilitar la lectura */
  color: var(--color-text);
  text-align: justify; /* Justificado para una apariencia más formal */
  margin-bottom: 1rem; /* Espacio entre párrafos */
  opacity: 0.9; /* Ligeramente más opaco para mejor contraste */
}

.summary p:last-child {
  margin-bottom: 0; /* Eliminar el margen inferior del último párrafo */
}

.summary p strong {
  color: var(--color-accent);
  font-weight: 700; /* Aumentando el énfasis */
}

.summary p em {
  color: var(--color-secondary-dark); /* Un tono más oscuro del secundario para destacar */
  font-style: italic;
  font-weight: 600; /* Ligeramente más peso para el énfasis */
}