/* src/components/Home/HeroSection.module.css */

.hero {
    background-color: var(--color-secondary);
    padding: 4em 2em;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5em;
    color: var(--color-dark);
    margin-bottom: 0.5em;
    letter-spacing: -0.05em; /* Ligeramente más juntos */
  }
  
  .hero p {
    font-size: 1.1em;
    color: var(--color-text);
    max-width: 800px;
    margin: 0 auto 2em;
  }
  
  .ctaButton {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: 0.75em 1.5em;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: 500;
    transition: background-color var(--transition-duration) var(--transition-timing-function),
      color var(--transition-duration) var(--transition-timing-function);
  }
  
  .ctaButton:hover {
    background-color: var(--color-dark);
    color: var(--color-primary);
  }