/* src/components/About/EducationSection.module.css */

.educationSection {
  padding: 1.5em;
  background-color: var(--color-primary);
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.07);
}

.educationSection h2 {
  font-size: 1.4rem; /* Más pequeño */
  color: var(--color-dark);
  margin-bottom: 1em;
  text-align: left;
  border-bottom: 0.05em solid var(--color-secondary);
  padding-bottom: 0.4em;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.educationItem {
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  border-bottom: 0.05em solid var(--color-secondary);
}

.educationItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.educationTitle {
  font-size: 1rem; /* Más pequeño */
  color: var(--color-dark);
  margin-bottom: 0.1em;
  font-weight: 600;
}

.educationInstitution {
  font-size: 0.9rem; /* Más pequeño */
  color: var(--color-text);
  font-style: italic;
  margin-bottom: 0.1em;
}

.educationDates {
  font-size: 0.8rem; /* Más pequeño */
  color: #777;
  margin-bottom: 0.6em;
}

.educationDescription {
  font-size: 0.9rem; /* Más pequeño */
  color: var(--color-text);
  line-height: 1.4;
}