/* src/components/About/ExperienceSection.module.css */

.experienceSection {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
  }
  
  .experienceSection h2 {
    font-size: 2.2em;
    color: var(--color-dark);
    margin-bottom: 1em;
    text-align: center;
  }
  
  .experienceItem {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 0.1em solid var(--color-secondary);
  }
  
  .experienceItem:last-child {
    border-bottom: none; /* Elimina el borde del último elemento */
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .experienceTitle {
    font-size: 1.3em;
    color: var(--color-dark);
    margin-bottom: 0.25em;
  }
  
  .experienceCompany {
    font-size: 1.1em;
    color: var(--color-accent);
    font-weight: 500;
    margin-bottom: 0.25em;
  }
  
  .experienceDates {
    font-size: 1em;
    color: var(--color-text);
    margin-bottom: 0.5em;
  }
  
  .experienceDescription {
    font-size: 1.1em;
    color: var(--color-text);
    line-height: 1.6;
  }