/* src/components/About/InterestSection.module.css */

.interestSection {
  padding: 1.5em;
  background-color: var(--color-primary);
  border-radius: 0.4em;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.07);
}

.interestSection h2 {
  font-size: 1.4rem; /* Más pequeño */
  color: var(--color-dark);
  margin-bottom: 1em;
  text-align: left;
  border-bottom: 0.05em solid var(--color-secondary);
  padding-bottom: 0.4em;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.interestList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em; /* Menos espacio */
}

.interestItem {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 0.4em 0.8em; /* Más pequeño */
  border-radius: 0.2em;
  font-size: 0.9rem; /* Más pequeño */
  margin-bottom: 0.4em;
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.interestItem:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}